---
layout: post-index
title: Blog
permalink: /blog
---

{% include hero-page.html %}


<div class="post-index">
  <div class="panel">
    <div class="panel__container">

      <div class="post-index__grid">

        {% for post in site.posts %}

        <article class="grid__item post-index__item">

            {% assign content_array = post.content | split: site.excerpt_separator %}
            {% assign excerpt_only = content_array | first %}




                <div class="post-index__item__grid">

                  <div class="grid__item">
                    <div class="post-index__item__image">
                      <a href="{{ site.url }}/{{post.permalink}}">
                        <img src="{{site.url}}/assets/images/{{ post.hero_image }}" class="guide-feature-large__image" src="{{ post.hero_image_alt }}" />
                      </a>
                    </div>
                  </div>

                  <div class="grid__item">
                    <div class="post-index__item__content">

                        <h1 class="post-index__item__title">
                          <a href="{{ site.url }}/{{post.permalink}}.html">
                            {{ post.title }}
                          </a>
                        </h1>
                        <div class="post-index__item__post-meta post-meta">
                          <div class="post-meta__item">Last updated <span class="post-meta__date">{{ post.date | date_to_string }}</span></div>
                        </div>
                        <div class="post-index__item__intro">
                          {{ excerpt_only | append: '</p>'}}
                        </div>

                    </div>
                  </div>

                </div>


        </article>

        {% endfor %}


      </div>

    </div>
  </div>
</div>