<div class="guide-feature-small">
  <div class="floating-snippet floating-snippet--tight">
    <div class="guide-feature-small__inner">
      <div class="guide-feature-small__content">
        <h4 class="guide-feature-small__title">
          <span class="guide-feature-small__title__tagline"
            >From the guide:
          </span>
          <a href="{{ page.guide_link }}" class="guide-feature-small__title__title">
            {{ page.guide_title }}
          </a>
        </h4>
          <a href="{{ page.guide_link }}" class="button button--small">Go to guide</a>
      </div>
      <div class="guide-feature-small__image">
        <a href="{{ page.guide_link }}">
          <img src="{{site.url}}/assets/images/{{ page.guide_image }}" class="guide-feature-small__image" />
        </a>
      </div>
    </div>
  </div>
</div>