<div class="guide-feature-large">
  {% assign parentpage =  site.pages | where: "pillar_id","pillar_1" | first %}
  {% assign title = parentpage.title %}
  {% capture link %} {{site.url}}/{{parentpage.permalink}} {% endcapture %}
  {% capture image %} {{site.url}}/assets/images/{{parentpage.thumb_image}} {% endcapture %}
  {% assign image_alt = parentpage.thumb_image-alt %}
  {% assign intro = parentpage.intro %}
  <div class="panel">
    <div class="panel__container">

      <div class="floating-snippet">
        <div class="grid--2">

          <div class="grid__item">
            <div class="guide-feature-large__image">
              <a href="{{ link }}">
                <img src="{{ image }}" class="guide-feature-large__image" alt="{{ image_alt }}" />
              </a>
            </div>
          </div>
          <div class="grid__item">
            <div class="guide-feature-large__content">
              
              <h4 class="guide-feature-large__title">
                <span class="guide-feature-large__title__tagline">From the guide:</span>
                <a href="{{ link }}" class="guide-feature-large__title__title">{{ title }}</a>
              </h4>
              <div class="guide-feature-large__intro">
                <p>
                  {{ intro }}
                </p>
              </div>
              <a href="{{ link }}" class="button">Go to guide</a>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>