<div class="guide-feature-large">
  <div class="panel">
    <div class="panel__container">

      <div class="floating-snippet">
        <div class="grid--2">

          <div class="grid__item">
            <div class="guide-feature-large__image">
              <a href="pillar.html">
                <img src="{{site.url}}/assets/images/web-design-thumb.jpg" class="guide-feature-large__image" />
              </a>
            </div>
          </div>
          <div class="grid__item">
            <div class="guide-feature-large__content">
              
              <h4 class="guide-feature-large__title">
                <span class="guide-feature-large__title__tagline">From the guide:</span>
                <a href="/" class="guide-feature-large__title__title">How to become a web designer</a>
              </h4>
              <div class="guide-feature-large__intro">
                <p>
                  Short into about the page. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. At vero eos et accusamus et iusto odio. Short into about the page. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. At vero eos et accusamus et iusto odio. doloribus asperiores repellat. At vero eos et accusamus et iusto odio
                </p>
              </div>
              <a href="/" class="button">Go to guide</a>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>