<header class="header">
  <div class="container">
  <div class="header__inner">
      <a href="{{site.url}}/" class="header__logo-lockup">
        {% if site.image-path %}
          <img class="header__logo-lockup__image" src="{{ site.image-path }}" alt="{{ site.image-alt }}">
        {% endif %}
        <div class="header__logo-lockup__title">{{ site.title }}</div>
      </a>

      <nav class="header__menu nav">
        {% include navigation.html main=true guides=true %}
      </nav>

      <button type=“button” class="header__trigger trigger-menu">
          <svg class="icon header__trigger__icon">
            <use xlink:href="{{site.url}}/assets/svg/icons.svg#icon-menu" />
          </svg>
          <span class="header__trigger__label">Menu</span>
      </button>
      <nav aria-hidden='true' class="mobile-menu close">
        {% include mobile-menu.html %}
      </nav>

    </div>
  </div>
</header>