<div class="hero-home">

  <div class="hero-home__main" style="background-image: url({{site.url}}/assets/images/{{page.hero_image_home}})">
    <div class="panel">
      <div class="panel__container">
        <div class="hero-home__main__inner">

          <h1 class="hero-home__title">
            {{ site.title }}
          </h1>

        </div>
      </div>
      <svg class="icon hero-home__arrow-down">
        <use xlink:href="assets/svg/icons.svg#icon-hand-point-down" />
      </svg>
    </div>
  </div>

  <div class="panel hero-home__bottom">
    <div class="panel__container">
      <div class="hero-home__bottom__inner">

        <div class="hero-home__intro">
          <div class="floating-snippet">
            <h2 class="hero-home__intro__title">
              Live the dream
            </h2>
            <p class="hero-home__intro__copy">
              {{ page.intro }}
            </p>
          </div>
        </div>

        <div class="hero-home__more">
          <div class="hero-home__more__cta">
            <svg class="hero-home__more__icon">
              <use xlink:href="{{site.url}}/assets/svg/icons.svg#icon-arrow-down--section" />
            </svg>
            <a class="hero-home__more__link" href="#">Read more</a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>