
{% assign excerpt_only = content_array | first %}

<div class="hero-post">

  <div class="panel">
    <div class="panel__container">
      <div class="grid--2--medium">

        <div class="grid__item">
          <div class="hero-post__title-intro">
            <h1 class="hero-post__title">
              {{ page.title }}
            </h1>
            <div class="hero-post__post-meta post-meta">
              {% include meta.html %}
            </div>
            <div class="hero-post__intro">
              {{ excerpt_only | append: '</p>'}}
            </div>
            {% if page.from_guide %}
            <div class="hero-post__feature">
              {% include guide-feature-small.html %}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="grid__item">
          <div class="hero-post__image">
            <img src="{{site.url}}/assets/images/{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" />
          </div>
        </div>

      </div>
    </div>
  </div>


  <svg class="hero-pillar__arrow-icon">
    <use xlink:href="{{site.url}}/assets/svg/icons.svg#icon-arrow-down--section" />
  </svg>


</div>