{% if include.homelink %}
  <div class="nav__item">
    <a href="{{ site.url }}" {% if page.url == item.link %}class="current"{% endif %}>
      <span>
        Home
      </span>
    </a>
  </div>
{% endif %}

{% if include.guides %}
  {% for item in site.data.nav-guides %}
    <div class="nav__item">
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
        <span>
          {{ item.name }}
        </span>
      </a>
    </div>
  {% endfor %}
  {% endif %}

{% if include.main %}
{% for item in site.data.nav-main %}
    <div class="nav__item">
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
        <span>
          {{ item.name }}
        </span>
      </a>
    </div>
  {% endfor %}
  {% endif %}