<nav class="page-nav hidden">
  <div class="page-nav__inner">
    <div class="page-nav__dropdown page-nav-trigger" role="button">
      <div class="page-nav__label">
        On this page
        <svg class="page-nav__label__icon">
          <use xlink:href="assets/svg/icons.svg#icon-arrow-down--thick" />
        </svg>
      </div>
      <div class="page-nav__dropdown__dropdown hidden">
        <ul class="contents-image__contents__list">
          {% include pillar-nav.html %}
        </ul>
      </div>
    </div>
  </div>
</nav>