.guide-feature-horiz{
    background-color:$color-feint;
    padding:$text-gap-tight;
    @include text-tiny;
    &__inner{
        @include grid(2, $text-gap-tight, small);
    }
    &__title{
        margin-bottom:$text-gap-tight;
        &__tagline{
            @extend %tagline;
            margin-bottom:$text-gap-tight;
        }
        &__title{
            font-weight:$bold;
        }
    }
}




.guide-feature-panel{
    background-color:$white;
    padding:$text-gap-deep 0;
    &__inner{
        @include grid(2, $text-gap, small);
    }
    &__title{
        margin-bottom:$text-gap;
        &__tagline{
            @extend %tagline;
            margin-bottom:$text-gap-tight;
        }
        &__title{
            font-weight:$bold;
            @include title(s2);
        }
    }
    &__intro{
        margin-bottom:$text-gap;
    }
}