.hero-post{
  background-color:$color-hero-bg;
  padding-top:$text-gap-mobile;
  padding-bottom:$text-gap-mobile;
  @include break(medium) {
    padding-top:$text-gap;
    padding-bottom:$text-gap;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    min-height:calc(100vh - #{$header-height});
    max-height:1100px;
  }
  &__title{
    @include title-display($white);
    margin-bottom:$text-gap-mobile;
    @include break(small) {
      margin-bottom:$text-gap;
    }
  }
  &__post-meta{
    color:$white;
    margin-bottom:$text-gap-mobile;
    @include break(small) {
      margin-bottom:$text-gap;
    }
  }
  &__intro{
    color:$white;
    margin-bottom:$text-gap-mobile;
    width:100%;
    max-width:1000px;
    @include break(small) {
      margin-bottom:$text-gap;
    }
  }
  &__breadcrumb{
    margin-top:0;
    margin-bottom:$text-gap-mobile;
    @include break(small) {
      margin-top:0;
      margin-bottom:$text-gap-tight;
    }
  }
  &__image{
    margin-bottom:0;
    @include break(small) {
      margin-bottom:0;
    }
  }
  &__cta{
    .button{
      margin-bottom:$text-gap-tight;
    }
  }
}