.pillar-section{
  padding-top:$text-gap;
  padding-bottom:$text-gap;
  @include break(small) {
    padding-top:$text-gap-deep;
    padding-bottom:$text-gap-deep;
  }
  &:nth-of-type(odd){
    //background-color:$gray90;
  }
  &__inner{
    background-color:$white;
    padding:$text-gap-mobile;
    @include break(small) {
      padding:$text-gap;
    }
  }
  &__content{
    @extend %text-gap;
  }
  &__title{
    @include title(s2);
    @extend %text-gap;
    color:$black;
  }
  &__links{
    &__title{
      @include title(s3);
      @extend %text-gap;
    }
    &__list{
      li{
      }
    }
  }
  &--style-1{
    background-color:purple;
  }
  &--style-2{
    background-color:teal;
  }
  &--style-3{
    background-color:blue;
  }
}