// Project specific mixins and variables

// paths
$path-images: "../assets/images";

// layout ==============================================

$site-width:1600px;
$padding-sides:5vw;

// standard margin

$margin-std:1.5rem;

// colors ==============================================

$color-primary:#0982C3;
$color-primary-feint:lighten($color-primary, 40);
$color-secondary:#62319C;
$color-secondary-feint:lighten($color-secondary, 50);
$color-accent:gold;
$color-feint:#f2f2f2;

// backgrounds
$color-hero-bg:$color-primary;

// link color
$color-link:$color-secondary;
$color-text:$black;

// button colour
$color-button:$color-secondary;

// Headings
$color-heading:$color-primary;
$color-body-heading:$color-secondary;

// taglines
$color-tagline:$black;

// font loading
@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

// typography ==============================================

$font-brand:'Muli', sans-serif;
$font-std:'Lato', sans-serif;
$font-display:'Muli', sans-serif;

// font-size;
$font-size-base:62.5%;
$font-size-mobile:1.6rem;
$font-size-std:1.8rem;

// font weights
$thin:300;
$std:400;
$bold:800;
$extrabold:900;

// font sizes
$tiny:.8em;

// line heights
$line-height:1.7;
$line-height--tight:1;

// text margins
$text-gap:4rem;
$text-gap-mobile:2rem;
$text-gap-deep:6rem;
$text-gap-tight:2rem;

// title sizes 
$titlelevels: (
  s1:6rem,
  s2:3rem,
  s3:2rem,
);

// underline
@mixin text-underline($color){
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    text-decoration-color: $color;
}

// title display
@mixin title-display($color:$color-heading){
    font-size:4rem;
    font-weight:$extrabold;
    color:$color;
    @include break(small) {
      font-size:6rem;
    }
    @include break(medium) {
      font-size:8rem;
    }
}

@mixin text-leadin($font-size){
  font-family:$font-display;
  font-weight:$std;
  font-size:$font-size;
  line-height: 1.4;
  p{
    line-height: 1.4;
  }
}

@mixin text-tiny{
  font-size:$tiny;
}

// text body
%text-body{
  font-family:$font-std;
  line-height:$line-height;
  strong{
    font-weight:$bold;
  }
  h1, h2, h3, h4, h5{
    color:$color-primary;
    padding:0;
    margin:0;
    margin-bottom:$text-gap;
    font-weight:$bold;
  }
  h2{
    @include title(s2);
  }
  h3{
    @include title(s3);
  }
  p, ol, ul{
    padding:0;
    margin:0;
    margin-bottom:$text-gap;
  }
  ul{
    box-sizing:border-box;
  }
  li{
    width:calc(100% - 1em);
    list-style:none;
    position:relative;
    padding-left:1.5em;
    &:before{
      content:'\25A0';
      color:$color-secondary;
      position:absolute;
      left:0;
      top:0;
    }
  }
  & > *:last-child{
    margin-bottom:0;
    padding-bottom:0;
  }
}

// header ==============================================

$header-height:80px;
$header-height-mobile:80px;

// misc styles =========================================

// text shadow
$text-shadow-std: 1px 1px 2px $black;

// raised item shadow
$shadow:3px 3px 3px rgba(93, 93, 93, 0.1);

// borders

$border-feint: rgba($black, 0.2) solid 1px;
$border-accent: $color-secondary solid 2px;
$border-accent-feint: rgba($color-secondary, 0.2) solid 1px;


// html ================================================

html {
  font-family: $font-std;
  font-size:$font-size-base;
}

// body
body {
  font-size:$font-size-mobile;
  @include break(small) {
    font-size:$font-size-std;
  }
  line-height:$line-height;
  color:$black;
}









