.body-content{
  @extend %text-body;
  blockquote{
    &.pq{
      margin:$text-gap-mobile;
      margin-left:0;
      padding-top:1.5em;
      width:100%;
      font-size:3rem;
      @include bgimage(quotemark,svg);
      background-size:1.5em;
      @include text-quote;
      @include break(medium) {
        margin:$text-gap;
        padding-top:0;
        padding-left:2.5em;
        margin-left:$text-gap;
        margin-top:0;
        margin-bottom:$text-gap/2;
        float:right;
        max-width:20em;
      }
    }
    &.cite{
      font-weight:$bold;
      display:block;
      border-left:10px solid $color-secondary;
      padding-left:$text-gap-tight;
    }
  }
  &__outset-image{
    margin:$text-gap-mobile;
    width:100%;
    max-width:30vw;
    float:right;
    img{
      width:100%;
      height:auto;
    }
    @include break(medium) {
      margin:$text-gap;
      margin-left:$text-gap;
      margin-top:0;
      margin-bottom:$text-gap/2;
      max-width:20em;
    }
  }
}