.floating-snippet{
  background-color:$white;
  position:relative;
  width:100%;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color:$white;
  z-index:1;
  padding:$text-gap-mobile;
  @include break(medium) {
    padding:$text-gap;
  }
  &--tight{
    padding:$text-gap-mobile;
    @include break(medium) {
      padding:$text-gap-tight;
    }
  }
  p{
    margin-bottom:0;
  }
  &__title{
    @include title(s3);
    margin-bottom:$text-gap;
  }
}