.footer{
  background-color:$gray20;
  color:$white;
  &__row{
    width:100%;
    padding-top:$text-gap-mobile*2;
    padding-bottom:$text-gap-mobile;
    @include break(small) {
      @include grid(2-3);
      padding-top:$text-gap;
    }
    &:first-of-type{
      border-bottom:1px solid lighten($black, 10);
    }
    &:last-of-type{
      border-top:1px solid lighten($black, 30);
    }
  }
  &__links{
    display:flex;
    flex-direction:column;
    .nav{
      &__item{
        a{
          @include link-styled($white, $color-primary);
        }
      }
    }
    @include text-gap;
    &__title{
      font-size:$tiny;
      text-transform:uppercase;
      @include text-gap-tight;
    }
  }
  &__notice{
    @include text-gap;
  }
  &__social-media{
    color:$white;
    @include text-gap;
    &__item{
      cursor:pointer;
      margin-left:1rem;
      color:$white;
    }
    &__icon{
      width:18px;
      height:18px;
    }
  }
}