.guide-feature-small{
    &__inner{
        @include break(small) {
            @include grid(2, $text-gap-tight); 
        }
    }
    &__title{
        margin-bottom:$text-gap-tight;
        &__tagline{
            @extend %tagline;
            margin-bottom:$text-gap-tight;
        }
        &__title{
            display:block;
            @include title(s4);
        }
    }
}




.guide-feature-large{
    $color-from:$color-primary;
    $color-to:$color-secondary;
    background-image: linear-gradient($color-from, $color-to);
    padding-top:$text-gap-mobile;
    padding-bottom:$text-gap-mobile;
    @include break(medium) {
      padding-top:$text-gap;
      padding-bottom:$text-gap;
    }
    &__title{
        @extend %text-gap;
        &__tagline{
            @extend %tagline;
            margin-bottom:$text-gap-tight;
        }
        &__title{
            @include title-display(s3);
        }
    }
    &__intro{
        margin-bottom:$text-gap;
    }
}