.guide-feature-horiz{
    background-color:$color-feint;
    padding:$text-gap-tight;
    @include text-tiny;
    border-radius: $border-radius;
    box-shadow: $box-shadow;      
    &__inner{
        @include break(small) {
            @include grid(2, $text-gap-tight); 
        }
    }
    &__title{
        margin-bottom:$text-gap-tight;
        &__tagline{
            @extend %tagline;
            margin-bottom:$text-gap-tight;
        }
        &__title{
            font-weight:$bold;
        }
    }
}




.guide-feature-panel{
    background-color:$white;
    &__inner{
        @include break(small) {
            @include grid(2, $text-gap-tight); 
        }
    }
    &__title{
        margin-bottom:$text-gap;
        &__tagline{
            @extend %tagline;
            margin-bottom:$text-gap-tight;
        }
        &__title{
            font-weight:$bold;
            @include title(s2);
        }
    }
    &__intro{
        margin-bottom:$text-gap;
    }
}