// hero on post page

.hero-post{
  background-color:$color-feint;
  position:relative;
  height:100%;
  min-height:calc(100vh - #{$header-height});
  color:$color-primary;
  border-bottom:20px solid $color-secondary;
  @include break(small) {
    min-height:0;
  }
  &__title{
    @include title-display($white);
    margin-bottom:$text-gap-mobile;
    @include break(small) {
      margin-bottom:$text-gap;
    }
  }
  &__post-meta{
    color:$white;
    margin-bottom:$text-gap-mobile;
    @include break(small) {
      margin-bottom:$text-gap;
    }
  }
  &__intro{
    color:$white;
    margin-bottom:$text-gap-mobile;
    width:100%;
    max-width:$content-width;
    @include break(small) {
      margin-bottom:$text-gap;
    }
  }
  &__breadcrumb{
    margin-top:0;
    margin-bottom:$text-gap-mobile;
    @include break(small) {
      margin-top:0;
      margin-bottom:$text-gap-tight;
    }
  }
  &__image{
    margin-bottom:0;
    @include break(small) {
      margin-bottom:0;
    }
  }
  &__cta{
    .button{
      margin-bottom:$text-gap-tight;
    }
  }
}