// hero on post page

.hero-post{
  $color-from:$color-primary;
  $color-to:$color-secondary;
  $color-text:$white;
  background-color:$color-from;
  position:relative;
  height:100%;
  min-height:calc(100vh - #{$header-height});
  color:$color-primary;
  border-bottom:20px solid $color-to;
  padding-top:$text-gap;
  padding-bottom:$text-gap;
  background-image: linear-gradient($color-from, $color-to);
  @include break(medium) {
    min-height:0;
    padding-top:$text-gap-deep;
    padding-bottom:$text-gap-deep;
  }
  &__title-intro{
    @include break(medium) {
      height:100%;
      display:flex;
      flex-direction:column;
      justify-content: flex-end;
      padding-top:$text-gap-deep;
    }
  }
  &__title{
    padding-bottom:$text-gap-mobile;
    @include title-display(s3, $color-text);
    @include break(small) {
      padding-bottom:$text-gap/2;
      @include title-display(s2, $color-text);
    }
    @include break(medium) {
      padding-bottom:$text-gap/2;
    }
  }
  &__post-meta{
    color:$color-text;
    padding-bottom:$text-gap-mobile;
    @include break(small) {
      padding-bottom:$text-gap;
    }
  }
  &__intro{
    color:$color-text;
    width:100%; 
    max-width:$content-width;
    p{
      @include text-leadin(1.8rem);
      @include break(medium) {
        @include text-leadin(1.8rem);
      }
    }
  }
  &__breadcrumb{
    margin-top:0;
    margin-bottom:$text-gap-mobile;
    @include break(medium) {
      margin-top:0;
      margin-bottom:$text-gap-tight;
    }
  }
  &__image{
    @include break(medium) {
        margin-bottom:$text-gap;
        height:100%;
    }
    img{
      width:100%;
      height:auto;
      @include break(medium) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__feature{
    max-width:500px;
    padding-top:$text-gap-mobile;
    @include break(small) {
      padding-top:$text-gap;
    }
  }
  &__arrow-icon{
    position:absolute;
    bottom:-45px;
    left:50%;
    transform:translate(-25px);
    display:block;
    width:50px;
    height:25px;
    color:$color-to;
  }
}