.mobile-menu{
  $bgcolor:$color-feint-1;
  display:block;
  @include break(large) {
    display:none;
  }
  background-color:$bgcolor;
  height:auto;
  width:100%;
  position:absolute;
  top:$header-height;
  right:0;
  transform:translateX(100%);
  border-top:$border-feint;
  opacity:0;
  @include transition(transform, .2s);
  height:calc(100vh - #{$header-height});
  &.open{
    @include transition(transform, .2s);
    transform:translateX(0);
    opacity:1;
  }
  .close{
    @include transition(transform, .2s);
    transform:translateX(100%);
    opacity:0;
  }
  &__inner{
    padding-top:$text-gap-mobile;
    @include break(small) {
      padding-top:$text-gap;
    }
  }
  &__group{
    &__title{
      font-size:$tiny;
      text-transform:uppercase;
    }
  }
  .nav{
    &__item{
      background-color:$bgcolor;
      display:block;
      @extend %text-gap-tight;
      span{
        @include link-styled($color-primary);
      }
    }
  }
}