.page-nav{
    position:fixed;
    top:calc(#{$header-height} + 5px);
    $height:80px;
    $heightmobile:60px;
    width:100%;
    background-color:$white;
    display:block;
    @include transition(opacity);
    z-index:10;
    &__inner{
        height:$heightmobile;
        @include break(small) {
            height:$height;
        }
        overflow:visible;
    }
    &__label{
        cursor:pointer;
        width:auto;
        @include align-left;
        padding-left:5vw;
        height:$heightmobile;
        @include break(small) {
            height:$height;
        }
        &__icon{
            color:$black;
            width:10px;
            height:10px;
            margin:1rem;
        }
    }
    &__dropdown{
        position:relative;
        &__dropdown{
            position:relative;
            left:0;
            width:100vw;
            background-color:$white;
            padding:$text-gap-tight $padding-sides;
            @include transition(opacity);
        }
    }
}