.post-meta{
  display:flex;
  align-items:center;
  font-size:$tiny;
  &__item{
      display:block;
      padding:0 .5em;
      color:inherit;
      &:first-of-type{
          padding-left:0;
      }
  }
  &__name{
    font-weight:$std-bold;
  }
  &__date{
    font-weight:$std-bold;
  }
}