---
layout: pillar
title: How to become a Writer
guide_slug: become_writer
author: Rob
permalink: how-to-become-a-writer
last_updated: 06 Jun 2019
hero_image: writer-head-2.jpg
hero_image_alt: Devices running browsersync
intro: Writing, and especially fiction writing, can seem like a mysterious art, even to those who practice it. So if you're starting from nowhere, it may take some work to convince yourself you can do it. Yet, in all honesty, becoming a writer is not a difficult matter. To become a best-selling novelist or win the Booker Prize may be difficult. But to become a writer or even a published writer is relatively easy.
---

{% assign sorted_sections = site.become_writer | sort:"date" | reverse %}

{% include page-nav.html %}

{% include hero-pillar.html %}

{% include pillar-sections.html %}