<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Description here">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>

    {% include header.html %}

    <main class="main">
      {{ content }}
    </main>

    {% include footer.html %}

    <script type="module" src="{{ site.url }}/assets/js/scripts.js"></script>

  </body>
</html>