---
layout: default
---

{% assign content_array = page.content | split: site.excerpt_separator %}
{% assign excerpt_only = content_array | first %}
{% assign content_remainder = content_array | last %}


{% assign parentpage = site.pages | where: "slug", "become_web" %}

  {{ parentpage.permalink }}


<article class="article">

{% include progress-indicator.html %}

  <div class="hero-post panel">
    <div class="hero-post__main container">
      <div class="hero-post__breadcrumb breadcrumb">
        <a class="breadcrumb__item" href="/">Home</a>
        <svg class="icon breadcrumb__arrow">
          <use xlink:href="assets/svg/icons.svg#icon-arrow-down--thick" />
        </svg>
        <a class="breadcrumb__item" href="/">
          {{ page.title }}
        </a>
      </div>

      <h1 class="hero-post__title">
        {{ page.title }}
      </h1>
      <div class="hero-post__post-meta post-meta">
        <div class="post-meta__item">
          Written by <span class="post-meta__name">{{ page.author }}</span>
        </div>
        <div class="post-meta__item">
          Last updated <span class="post-meta__date">{{ page.date | date_to_string }}</span>
        </div>
      </div>

      <div class="hero-post__intro">
        {{ excerpt_only | append: '</p>'}}
      </div>
      <div class="grid--1-2">
        <div class="hero-post__image">
          <img src="{{site.url}}/assets/images/{{ page.hero_image }}" alt="{{ page.hero_image_alt }}" />
        </div>
        <div class="hero-post__col">
          <div class="guide-feature-horiz">
            <div class="guide-feature-horiz__inner">
              <div class="guide-feature-horiz__content">
                <h4 class="guide-feature-horiz__title">
                  <span class="guide-feature-horiz__title__tagline"
                    >From the guide:
                  </span>
                  <a href="{{ page.guide_link }}" class="guide-feature-horiz__title__title">{{ page.guide_title }}</a>
                </h4>
                  <a href="{{ page.guide_link }}" class="button button--small">Go to guide</a>
              </div>
              <div class="guide-feature-horiz__image">
                <a href="{{ page.guide_link }}">
                  <img src="{{site.url}}/assets/images/{{ page.guide_image }}" class="guide-feature-horiz__image" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="article__content">
    <div class="container">
      <div class="post-content__section__content body-content">
        
        {{ content_remainder | remove_first: '</p>'}}

      </div>
    </div>
  </div>





  <div class="guide-feature-panel">
    <div class="container">
    <div class="guide-feature-panel__inner">
      <div class="guide-feature-panel__image">
        <a href="pillar.html">
          <img src="assets/images/web-design-thumb.jpg" class="guide-feature-panel__image" />
        </a>
      </div>
      <div class="guide-feature-panel__content">
        <h4 class="guide-feature-panel__title">
          <span class="guide-feature-panel__title__tagline">From the guide:</span>
          <a href="pillar.html" class="guide-feature-panel__title__title">How to become a web designer</a>
        </h4>
        <div class="guide-feature-panel__intro">
          <p>
            Short into about the page. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. At vero eos et accusamus et iusto odio. Short into about the page. Ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. At vero eos et accusamus et iusto odio. doloribus asperiores repellat. At vero eos et accusamus et iusto odio
          </p>
        </div>
        <a href="pillar.html" class="button">Go to guide</a>
      </div>
    </div>
    </div>
  </div>




</article>